<label for="fname">First name:</label>
<!-- <input type="text" (input)="getText($event)"> -->
<input type="text" [(ngModel)]="searchValue">

<p>your input : {{searchValue}}</p>

<div *ngFor ="let item of informations">
    <table>
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>{{item.company}}</td>
          <td>{{item.contact}}</td>
          <td>{{item.country}}</td>
        </tr>
      </table>
</div>

<!-- <div>
  <form #loginForm = "ngForm" (ngSubmit)="login(loginForm.value)">
    <input type="text" name="name" ngModel>
    <input type="password" name="password" ngModel>
    <button>ngSubmit</button>
  </form>
</div> -->


<div>
  <p>{{title}}</p>
  <form [formGroup]="loginForm" (ngSubmit)="loginReactive()">
    <input type="text" placeholder="Enter Name" name="name" formControlName ="name">
    <span style="color:red" *ngIf="namevalidation && namevalidation.invalid && namevalidation.touched">
      please enter your name !
    </span>
    <br><br>
    <input type="password" placeholder="Password" name="password" formControlName ="password"><br><br>
    <button>Login</button>
  </form>
</div>


<p>{{token}}</p>
<!-- <p>{{Response}}</p> -->